table td{
    padding: 0;
    width: 550px;
    border: solid 2px black;
}
 img{
    width: 25%;
    display: block;
}
.btn{
    width: 100px;
}
#pageAccueil{
    background-color: deepskyblue;
}
#retourActualites{
    background-color: khaki;
}