*{
    margin: 0%; 
   
}
body{
    font-family: 'Abril Fatface';
}

nav a{
    font-size: 20px;
    padding-left: 50px;
    color: white;
    text-decoration: none;
}

header{
    width: 100%;
    height: 100vh;
    background: url("../images/zoltan-tasi-c13LqGUl0xc-unsplash.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-attachment: fixed;
    position: relative;
   

}
h1 {
   
    font-size: 420%;

}
h2{
    text-align: center;
    margin-bottom: 30PX;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
  
}

 .texteHistoire{
   /*  width: 30%;
    height: 70%; */
    background-color: white;
    padding: 5%;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */

    
} 
.trait{
    width: 40px;
    border-top: black 2px solid;
    margin: 4% auto;
   
}
.texteHistoire h2{
    margin-bottom: 4%;
   
    
}
#histoire{
    width: 100%;
    height:70vh;
    background-color:rgb(42,42,42);
    display: flex;
  justify-content: center;
  align-items: center;
}
.logoImg img{
    width: 30%;
    border-radius: 50%;
   
}
.logo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  align-items:center;
  width: 50%;
  height: 110vh;

  margin-top: 15%;
}
.logoImg{
    text-align: center;
}
#actualite{
    margin-top: 2%;

}
.container img{
    width: 90%;
    width: 246px;
    height: 188px;
}

.photo img{
    width:100%;
}
.photo{
  
    height: 500px;
    width: 100%;
    background:url('../images/volant.jpg');
    background-repeat:no-repeat;
    background-attachment: fixed;
    position: relative;
    background-size: cover;    
    z-index: -1;
   

}
.formulaire{
    padding-top: 3%;
    background-color: rgb(178,171,171);
    padding-bottom: 3%;

}
.contour{
 
    padding: 1.5% 3.5%;
    background-color: white;
}
.contact{
    margin-bottom: 2%;
}
.form-control{
    width: 250px;
}
footer{
    background-color: #2F2E2E;
    width: 100%;
   padding-top: 43px;
   padding-right: 43px;
   position: relative;
  margin-bottom: 0px;
}
.fa, .fas {
    font-weight: 900;
    color: white;
    font-size: 300%;
    margin-bottom: 2%;
}
#phylactere{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    cursor: pointer;

}
 .encart{
   width: 100px;
   height: 100px;
    background-color: chocolate;
    position: absolute;
    top:0%;
    right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 3%;
   border-radius: 12px;
   opacity: 0;
   
  
} 
.encartBis{
    animation:apparition 0.2s ease-in-out forwards;
}

 @keyframes apparition {
    0% {
    
    opacity: 0;
    transform: translateY(-20px);
    
    }
25%{
    opacity: 0.4;
}
50%{
    opacity: 0.6;
} 
    100% {
      opacity: 1;
      transform: translateY(-40px);
 
    
    }
} 
.card{
    width: 286px;
    height: 362px;
    position: relative;
}
p.card-text{
    overflow: hidden;
    text-overflow: ellipsis;
    width: 255px;
    height: 50px;
  
}
.card:hover{
transform: scale(1.2);
}
.card-body .btn{
    background-color: rgb(178,171,171);
    color:white;
    position: absolute;
    top:88%;
 transform: translate(-50%,-50%);
}
textarea.form-control {
    height: 140px;
}
.pagination{
    margin-top: 2%;
    text-align: center;
   
}
.pagination a{
  padding-left: 1%;
  padding-right: 1%;
  border:solid 1px;
  border-radius:8%;
  text-align: center;
}

.pagination a:hover{
    color: white;
    background-color: black;
    border: black;
}
.pagination font{
  padding-left: 1%;
  padding-right: 1%;
  border:solid 1px;
  border-radius:8%;
  text-align: center;

}
span{
    font-family: 'Abril Fatface';
     color: white; 
    font-size: 80px;
}
.menuItem span{
 
   text-decoration: none;
    display: inline-block;
    /* color: rgb(42,42,42); */
}
.item{
     color:#F1F1F1; 
}
.label{
    position: absolute;
    left: -180px;
    width: 150%;
    color:transparent;
    overflow: hidden;
    text-align: center;
    transition: all 0.3s;
    font-size: 60px;
  
   
}
.menu{
    position: relative;
  
}
 .menuItem:hover .label{
    color: tomato;
    font-size: 100px;
    
}
.itemActualite{
    transform: translateX(-3000px);
}
 .formulaireDeContact{
     width: 50%;
 }
 #encartGauche{
     width: 250px;
     height: 270px;
     color: black;
     position: absolute;
     top:50%;
     left: 5%;
     transform: translateX(-3000px);
     font-size: 18px;
     background-color: white;
     border-radius: 12px;
     opacity: 0.7;
     padding: 1%;
 }
 .encartDroite{
     position: absolute;
     top:78%;
     left: 40%;
     font-size: 40px;
     color:tomato;
     width: 1050px;
     font-family: 'Abril Fatface';
     transform: translateX(3000px);

 }
 .navbar-toggler-icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
        background-image: none;
        background-size: auto;
    background-size: 100%;
}

@media screen and (max-width:375px) {
    span{

font-size: 30px;
width: 100%;
    }
    .logo{
        width: 100%;
    }
    .menuItem span {
        
        display:block;
      
    }
    .encartDroite {
        position: absolute;
        top: 78%;
        left: 2%;
        font-size: 20px;
        color: tomato;
        width: 350px;
        font-family: 'Abril Fatface';
        transform: translateX(3000px);
        height: 30px;
    }
    label{
width: 100%;
    }
    .menu{
        position: absolute;
        top:20%;
        left:5%;
        
    }
    .item {
        color: black;
    }
    #encartGauche{
        top: 40%;
    }
    .photo{
        height: 300px;
    }
    .formulaireDeContact {
        width: 90%;
    }
}