 body{
   width: 100%;
   height: 100vh;
   display:flex ;
   justify-content: center;
   align-items: center;
;
}
form{
    width: 500px;
    height: 250px;
    border: solid 4px black;
    display: flex;
    justify-content: center;
    align-items: center;
} 
#actualite{
    margin-right: 10%;
}