*{
    margin: 0%; 
   
}

nav a{
    font-size: 20px;
    padding-left: 50px;
    color: white;
    text-decoration: none;
}

header{
    width: 100%;
    height: 100vh;
    background: url("../images/zoltan-tasi-c13LqGUl0xc-unsplash.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
   

}
h1{
    color: white;
    font-size: 420%;

}
h2{
    text-align: center;
    margin-bottom: 30PX;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
  
}

 .texteHistoire{
   /*  width: 30%;
    height: 70%; */
    background-color: white;
    padding: 5%;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */

    
} 
.trait{
    width: 40px;
    border-top: black 2px solid;
    margin: 4% auto;
   
}
.texteHistoire h2{
    margin-bottom: 4%;
   
    
}
#histoire{
    width: 100%;
    height:70vh;
    background-color:rgb(42,42,42);
    display: flex;
  justify-content: center;
  align-items: center;
}
.logoImg img{
    width: 30%;
    border-radius: 50%;
   
}
.logo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  align-items:center;
  width: 50%;
  height: 110vh;

  margin-top: 15%;
}
.logoImg{
    text-align: center;
}
#actualite{
    margin-top: 2%;
    margin-bottom: 5%;
}
.container img{
    width: 90%;
}

.photo img{
    width:100%;
}
.photo{
  
    height: 500px;
    width: 100%;
    background:url('../images/volant.jpg');
    background-repeat:no-repeat;
    background-attachment: fixed;
    position: relative;
    background-size: cover;    
    z-index: -1;
   

}
.formulaire{
    padding-top: 3%;
    background-color: rgb(178,171,171);
    padding-bottom: 3%;

}
.contour{
 
    padding: 1.5% 3.5%;
    background-color: white;
}
.contact{
    margin-bottom: 2%;
}
.form-control{
    width: 250px;
}
footer{
    background-color: #2F2E2E;
    width: 100%;
   padding-top: 20px;
   padding-right: 20px;
   position: relative;
  margin-bottom: 0px;
}
.fa, .fas {
    font-weight: 900;
    color: white;
    font-size: 300%;
    margin-bottom: 2%;
}
#phylactere{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    cursor: pointer;

}
.encart{
    width: 100px;
    height: 100px;
    background-color: chocolate;
    position: absolute;
    right: 20px;
   display: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 3.6%;
  
  
}
.encartBis{

    animation:apparition 1s ease-in-out forwards;
   
}
@keyframes apparition {
    0% {
       display: block;
        transform: translateY(100px);
    
    }

    50% {
        transform: translateY(0px);
       display: block;
 
    }

    100% {
        transform: translateY(-220px);
     display: block;
    
    }
}
.card{
    width: 286px;
    height: 322px;
    position: relative;
}
p.card-text{
    overflow: hidden;
    text-overflow: ellipsis;
    width: 255px;
    height: 50px;
  
}
.card:hover{
transform: scale(1.2);
}
.card-body .btn{
    background-color: rgb(178,171,171);
    color:white;
    position: absolute;
    top:88%;
 transform: translate(-50%,-50%);
}
textarea.form-control {
    height: 140px;
}
.pagination{
    margin-top: 2%;
    text-align: center;
   
}
.pagination a{
  padding-left: 1%;
  padding-right: 1%;
  border:solid 1px;
  border-radius:8%;
  text-align: center;
}

.pagination a:hover{
    color: white;
    background-color: black;
    border: black;
}
.pagination font{
  padding-left: 1%;
  padding-right: 1%;
  border:solid 1px;
  border-radius:8%;
  text-align: center;

}
span{
    font-family: 'Abril Fatface';
    color: white;
    font-size: 80px;
}
.menuItem span{
 
   
    display: inline-block;
}
.item{
    color:#F1F1F1;
}
.label{
    position: absolute;
    left: 0;
    width: 100%;
    color:transparent;
    overflow: hidden;
    text-align: center;
    transition: all 0.3s;
}
.menu{
    position: relative;
  
}
 .menuItem:hover .label{
    color: #cdc7cd;
}
 